.auth-nav.list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.auth-nav.list a {
  color: var(--primary-tex-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav.list a:hover,
.auth-nav.list a:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.auth-nav:first-child {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-address {
  color: var(--white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-color);
}
