.social-icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 12px;
  border-radius: 100%;
  margin-right: 10px;
}

.header-icon {
  display: flex;
  justify-content: center;
}

.header-envelope {
  fill: currentColor;
}
