img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: #ffffff;
  color: var(--primary-tex-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
